<% if @errors %>
  <span>Something went wrong:</span>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form id="answer-form-container" method="post" action="/questions/<%= @question_id %>/answers">
  <%= erb :_form %>
</form>
