<li class="question-comment-list">
      Question Comment: <p class="comment-text"><%= question_response.body %></p><br>
  <span class="written-by">Written by <%= question_response.user.email %></span>
</li>
