<h1>TEAM AWESOME OVERFLOW!</h1>

<% @questions.each do |question| %>
  <li>
    <a href="/questions/<%= question.id %>"><%= question.body %></a>
    <span>Written by <%= question.user.email %></span>
  </li>
<% end %>
