<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title></title>
</head>
<body>
  <header>
    <nav>
      <ul>
      <% if logged_in? %>
        <li>Logged in as <%= current_user.email %></li>
        <li><a href="/">Home</a></li>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      <% end %>
      </ul>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
